fastapi>=0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
requests==2.33.1
openai-whisper==20231117
sentence-transformers==2.7.0
spacy>=3.7.4
scikit-learn==1.4.2
numpy==1.26.4
moviepy==1.0.3
python-pptx==0.6.23
PyMuPDF==1.24.3
pdfplumber==0.11.0
nltk==3.8.1
aiofiles==23.2.1
python-dotenv==1.0.1
google-genai>=0.3.0
pydantic>=2.0.0
pydantic-settings>=2.1.0
google-generativeai>=0.3.0
motor>=3.3.2
pymongo>=4.6.1
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
python-jose[cryptography]>=3.3.0
email-validator>=2.1.0
reportlab>=4.0.7
yake>=0.4.8
keybert>=0.8.3
arxiv>=2.1.0
